/*우선순위 : 포괄 < 구체*/
/* 우선순위 :TAG < class <<< !important --> */
/* 우선순위 : 같은 급일 때는 위 < 아래 쓴 코드*/
li {
    color : teal;
    background-color : azure;
}
.kor {
    color:brown !important;
}
.eng {
    color :lightseagreen;
}
#leader{
    color :cornflowerblue;
}
li:nth-child(3){ /* 1부터 시작 */
    text-decoration-line: underline;
}
h2+h3{/* h2 형제 중 첫번째 h3*/
    background-color: rgb(97, 98, 182);
}
h2~h3{ /*h2 형제 중 여러 h3*/
    font-size: 40px;
}